name: coding standards

on:
  pull_request: ~
  push: ~
  schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
      - cron: '42 10 5 * *'
  workflow_dispatch: ~

jobs:
  coding-standards:
    name: coding standards
    runs-on: ubuntu-latest

    strategy:
      matrix:
        symfony: ['8.0.*']

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          tools: composer, flex

      - name: enable Symfony Flex plugin
        run: composer global config --no-interaction allow-plugins.symfony/flex true

      - name: install composer dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
          COMPOSER_PREFER_STABLE: 1
        uses: ramsey/composer-install@v3

      - name: check coding standards
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --ansi
