name: unit tests

on:
  pull_request: ~
  push: ~
  schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
      - cron: '42 10 5 * *'
  workflow_dispatch: ~

jobs:
  unit-tests:
    name: PHP ${{ matrix.php }} - Doctrine ${{ matrix.doctrine-orm }} - Symfony ${{ matrix.symfony }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5']
        symfony: ['6.4.*', '7.3.*', '7.4.*', '8.0.*']
        doctrine-orm: ['^2.14', '^3.0']
        dependency-versions: ['highest']
        composer-stable: ['1']
        experimental: [false]
        include:
          - php: '8.2'
            symfony: '6.4.*'
            doctrine-orm: '^2.14'
            dependency-versions: 'lowest'
            experimental: false
          - php: 'latest'
            symfony: '8.0.*'
            doctrine-orm: '^3.0'
            dependency-versions: 'highest'
            composer-stable: '0'
            experimental: true
        exclude:
          - php: '8.2'
            symfony: '8.0.*'
          - php: '8.3'
            symfony: '8.0.*'
          - doctrine-orm: '^2.14'
            symfony: '8.0.*'

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, flex

      - name: enable Symfony Flex plugin
        run: composer global config --no-interaction allow-plugins.symfony/flex true

      - name: require specific Doctrine ORM version
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
          COMPOSER_PREFER_STABLE: ${{ matrix.composer-stable }}
        run: composer require --no-scripts --no-install --dev doctrine/orm:${{ matrix.doctrine-orm }} --ansi

      - name: install composer dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
          COMPOSER_PREFER_STABLE: ${{ matrix.composer-stable }}
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: run tests
        run: vendor/bin/simple-phpunit --colors=always || ${{ matrix.experimental }}

      - name: run league integration tests
        run: vendor/bin/simple-phpunit --colors=always -c phpunit.league.xml || ${{ matrix.experimental }}
