name: unit tests

on:
  pull_request: ~
  push: ~
  schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
      - cron: '* 10 5 * *'
  workflow_dispatch: ~

jobs:
  tests:
    name: PHP ${{ matrix.php }} - Doctrine ${{ matrix.doctrine-orm }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4']
        symfony: ['6.4.*', '7.2.*', '7.3.*']
        doctrine-orm: ['^2.14', '^3.0']
        dependency-versions: ['highest']
        composer-stable: ['1']
        include:
          - php: '8.1'
            symfony: '6.4.*'
            doctrine-orm: '^2.14'
            dependency-versions: 'lowest'
          - php: 'latest'
            symfony: '7.3.*'
            doctrine-orm: '^3.0'
            dependency-versions: 'highest'
            composer-stable: '0'
        exclude:
          - php: '8.1'
            symfony: '7.2.*'
          - php: '8.1'
            symfony: '7.3.*'

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, flex

      - name: require specific Doctrine ORM version
        env:
          COMPOSER_PREFER_STABLE: ${{ matrix.composer-stable }}
        run: composer require --no-scripts --no-install --dev doctrine/orm:${{ matrix.doctrine-orm }} --ansi

      - name: install composer dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
          COMPOSER_PREFER_STABLE: ${{ matrix.composer-stable }}
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: run unit tests
        run: vendor/bin/simple-phpunit --colors=always
